<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA87EZNFaDhEo9QI1janImlnVUugAbE6JU</string>
	<key>GCM_SENDER_ID</key>
	<string>830963760161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servicesImmobilier</string>
	<key>PROJECT_ID</key>
	<string>flutter-immoblier-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-immoblier-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830963760161:ios:de469ea4d40dc23150b760</string>
</dict>
</plist>